h1 {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
  font-size: 60px;
  text-shadow: 0 0 0px white;
  margin:0px;
}
body{
background-color: #6699cc;
margin:0px;
color: #FFFFFF;
text-align: center;
font-size: 25px;
}
