h1 {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
  font-size: 50px;
  text-shadow: 0 0 0px white;
  margin:0px;
}
body{
background-image: url("https://chahalakadami.github.io/Chahalakadmi1.png");
margin:0px;
color: #FFFFFF;
text-align: center;
font-size: 25px;
}
